<ul class="nav-bar secondary">
    <li><a href="{% url 'app06:student_list' %}" class="nav-link">Students</a></li>
    <li><a href="" class="nav-link"></a></li>
    <li><a href="" class="nav-link"></a></li>
    <li><a href="" class="nav-link"></a></li>
    <li><a href="" class="nav-link"></a></li>
    <li><a href="" class="nav-link"></a></li>
    <li><a href="" class="nav-link"></a></li>
    <li><a href="" class="nav-link"></a></li>
    <li><a href="" class="nav-link"></a></li>
    <li><a href="" class="nav-link"></a></li>
</ul>
