{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'index/css/stylesheet.css' %}" />
        {% block stylesheet %} {% endblock stylesheet %}
        <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png" />
        <title>{{web_page_title}}</title>
    </head>
    <body>
    {% include "index/_navbar.html" %}
    <br />
    <!--  -->
    {% block navbar %} {% endblock navbar %}
    <br />
    <!--  -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <!--  -->
        {% block main %} {% endblock main %}
    </body>
</html>
