{% extends "index/_base.html" %}
<!--  -->
{% block stylesheet %} {% endblock stylesheet %}
<!--  -->
{% block navbar %} {% include "app_005/_navbar.html" %} {% endblock navbar %}
<!--  -->
{% block main %}
<h1>Reset Password</h1>
<form action="" method="post" enctype="multipart/form-data" class=".form">
    <div>{% csrf_token %}</div>
    {{form.as_div}}
    <div>
        <input type="submit" value="Reset Password" />
    </div>
</form>
{% if af %}
<hr />
<form action="" method="post" enctype="multipart/form-data" class=".form">
    <div>{% csrf_token %}</div>
    {{af.as_div}}
    <div>
        <input type="submit" value="Authendicate" />
    </div>
</form>
{% endif %} {% if ucf %}
<hr />
<form action="" method="post" enctype="multipart/form-data" class=".form">
    <div>{% csrf_token %}</div>
    {{ucf.as_div}}
    <div>
        <input type="submit" value="Create User" />
    </div>
</form>
{% endif %} {% endblock main %}
