{% extends "index/_base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block stylesheet %}
<!--  -->
<link rel="stylesheet" href="{% static 'app_010/css/stylesheet.css' %}" />
<!--  -->
{% endblock stylesheet %}
<!--  -->
{% block navbar %} {% include "app_010/_navbar.html" %} {% endblock navbar %}
<!--  -->
{% block main %}

<h1>{{object}}</h1>

<h2>{{object}}</h2>

<a href="{% url 'app10:tag-change' object.pk %}" class="link"><button>Update</button></a>
<a href="{% url 'app10:tag-delete' object.pk %}" class="link"><button>Delete</button></a>
{% endblock main %}
