.navbar + .navbar {
    padding-top: 1rem;
}

.nav-bar {
    width: 100%;
    margin: auto;
    list-style-type: none;
}

.nav-bar.primary {
    display: grid;

    justify-content: center;
    align-content: center;

    justify-items: center;
    align-items: center;

    grid-template-columns: repeat(auto-fit, 4rem);
    grid-template-rows: repeat(auto-fit, 4rem);
    gap: 1rem;
}

.primary .icon {
    font-size: 2rem;
}

.secondary .icon {
    font-size: 1rem;
}

.nav-bar.primary > li {
    min-height: 3rem;
    display: flex;
    align-items: flex-end;
}

a {
    text-decoration: none;
    color: crimson;
    position: relative;
}

a::after {
    content: "";
    background-color: currentColor;

    z-index: -1;

    position: absolute;

    left: 50%;
    bottom: -2px;

    width: 0;
    height: 1px;

    transform: translate(-50%);

    transition: width 150ms linear;
}

a:hover::after {
    width: 100%;
}
