{% extends "index/_base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block stylesheet %}
<!--  -->
<link rel="stylesheet" href="{% static 'app_002/css/stylesheet.css' %}" />
<!--  -->
{% endblock stylesheet %}
<!--  -->
{% block navbar %} {% include "app_002/_navbar.html" %} {% endblock navbar %}
<!--  -->
{% block main %}
<h1>
    {{object.headline}} -
    <span><a href="{% url 'app02:author-detail' object.author.pk %}">{{ object.author.name }}</a></span>
</h1>
<br />
<span>Posted on : {{object.date_posted|date}}</span>
{% for content in contents %}
<p class="article-content">{{content}}</p>
{% endfor %}
<br />
<style>
    .article-content {
        text-wrap: balance;
        color: yellow;
        max-width: 80%;
    }
</style>
{% endblock main %}
