<ul class="nav-bar secondary">
    <li><a href="{% url 'app10:humanize' %}" class="nav-icon">Humanized Data</a></li>

    <h2>Article</h2>
    <li><a href="{% url 'app10:article-create' %}" class="nav-icon"> Add Article </a></li>
    <li><a href="{% url 'app10:article-read-list' %}" class="nav-icon"> View Article </a></li>

    <h2>Author</h2>
    <li><a href="{% url 'app10:author-create' %}" class="nav-icon"> Add Author </a></li>
    <li><a href="{% url 'app10:author-read-list' %}" class="nav-icon"> View Author </a></li>

    <h2>Book</h2>
    <li><a href="{% url 'app10:book-create' %}" class="nav-icon"> Add Book </a></li>
    <li><a href="{% url 'app10:book-read-list' %}" class="nav-icon"> View Book </a></li>

    <h2>Car</h2>
    <li><a href="{% url 'app10:car-create' %}" class="nav-icon"> Add Car </a></li>
    <li><a href="{% url 'app10:car-read-list' %}" class="nav-icon"> View Car </a></li>

    <h2>CarBrand</h2>
    <li><a href="{% url 'app10:carbrand-create' %}" class="nav-icon"> Add CarBrand </a></li>
    <li><a href="{% url 'app10:carbrand-read-list' %}" class="nav-icon"> View CarBrand </a></li>

    <h2>CarFuelType</h2>
    <li><a href="{% url 'app10:carfueltype-create' %}" class="nav-icon"> Add CarFuelType </a></li>
    <li><a href="{% url 'app10:carfueltype-read-list' %}" class="nav-icon"> View CarFuelType </a></li>

    <h2>Category</h2>
    <li><a href="{% url 'app10:category-create' %}" class="nav-icon"> Add Category </a></li>
    <li><a href="{% url 'app10:category-read-list' %}" class="nav-icon"> View Category </a></li>

    <h2>Demo</h2>
    <li><a href="{% url 'app10:demo-create' %}" class="nav-icon"> Add Demo </a></li>
    <li><a href="{% url 'app10:demo-read-list' %}" class="nav-icon"> View Demo </a></li>

    <h2>DemoFK</h2>
    <li><a href="{% url 'app10:demofk-create' %}" class="nav-icon"> Add DemoFK </a></li>
    <li><a href="{% url 'app10:demofk-read-list' %}" class="nav-icon"> View DemoFK </a></li>

    <h2>DemoM2M</h2>
    <li><a href="{% url 'app10:demom2m-create' %}" class="nav-icon"> Add DemoM2M </a></li>
    <li><a href="{% url 'app10:demom2m-read-list' %}" class="nav-icon"> View DemoM2M </a></li>

    <h2>DemoO2O</h2>
    <li><a href="{% url 'app10:demoo2o-create' %}" class="nav-icon"> Add DemoO2O </a></li>
    <li><a href="{% url 'app10:demoo2o-read-list' %}" class="nav-icon"> View DemoO2O </a></li>

    <h2>Genere</h2>
    <li><a href="{% url 'app10:genere-create' %}" class="nav-icon"> Add Genere </a></li>
    <li><a href="{% url 'app10:genere-read-list' %}" class="nav-icon"> View Genere </a></li>

    <h2>Language</h2>
    <li><a href="{% url 'app10:language-create' %}" class="nav-icon"> Add Language </a></li>
    <li><a href="{% url 'app10:language-read-list' %}" class="nav-icon"> View Language </a></li>

    <h2>Person</h2>
    <li><a href="{% url 'app10:person-create' %}" class="nav-icon"> Add Person </a></li>
    <li><a href="{% url 'app10:person-read-list' %}" class="nav-icon"> View Person </a></li>

    <h2>Pizza</h2>
    <li><a href="{% url 'app10:pizza-create' %}" class="nav-icon"> Add Pizza </a></li>
    <li><a href="{% url 'app10:pizza-read-list' %}" class="nav-icon"> View Pizza </a></li>

    <h2>Product</h2>
    <li><a href="{% url 'app10:product-create' %}" class="nav-icon"> Add Product </a></li>
    <li><a href="{% url 'app10:product-read-list' %}" class="nav-icon"> View Product </a></li>

    <h2>Student</h2>
    <li><a href="{% url 'app10:student-create' %}" class="nav-icon"> Add Student </a></li>
    <li><a href="{% url 'app10:student-read-list' %}" class="nav-icon"> View Student </a></li>

    <h2>Tag</h2>
    <li><a href="{% url 'app10:tag-create' %}" class="nav-icon"> Add Tag </a></li>
    <li><a href="{% url 'app10:tag-read-list' %}" class="nav-icon"> View Tag </a></li>

    <h2>Teacher</h2>
    <li><a href="{% url 'app10:teacher-create' %}" class="nav-icon"> Add Teacher </a></li>
    <li><a href="{% url 'app10:teacher-read-list' %}" class="nav-icon"> View Teacher </a></li>

    <h2>Topping</h2>
    <li><a href="{% url 'app10:topping-create' %}" class="nav-icon"> Add Topping </a></li>
    <li><a href="{% url 'app10:topping-read-list' %}" class="nav-icon"> View Topping </a></li>
</ul>
