{% extends "index/_base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block stylesheet %}
<!--  -->
<link rel="stylesheet" href="{% static 'app_002/css/stylesheet.css' %}" />
<!--  -->
{% endblock stylesheet %}
<!--  -->
{% block navbar %} {% include "app_002/_navbar.html" %} {% endblock navbar %}
<!--  -->
{% block main %}
<h1>{{object.name}}</h1>
<h2>{{object.contact}}</h2>
<a href="{% url 'app02:author-update' object.pk %}" class="link"><button>Update</button></a>
<a href="{% url 'app02:author-delete' object.pk %}" class="link"><button>Delete</button></a>
{% endblock main %}
