<ul class="nav-bar secondary">
    <h3>Base Views</h3>
    <li><a href="{% url 'app02:basic-view' %}" class="nav-link">Basic View</a></li>
    <br />
    <li><a href="{% url 'app02:template-view' %}" class="nav-link">Template View</a></li>
    <br />
    <li>
        <a href="{% url 'app02:temporary-redirect' 'quora files' %}" class="nav-link">Temporary Redirect to Homepage</a>
    </li>
    <li><a href="{% url 'app02:permenant-redirect' %}" class="nav-link">Permenant Redirect to Homepage</a></li>
    <br />
    <li><a href="{% url 'app02:customer-complaint' %}" class="nav-link">Complaint if Any</a></li>
    <br />
    <li><a href="{% url 'app02:article-list' %}" class="nav-link">Blogs</a></li>
    <br />
    <li><a href="{% url 'app02:author-list' %}" class="nav-link">Writers</a></li>
    <li><a href="{% url 'app02:author-create' %}" class="nav-link">Add Writer</a></li>
</ul>
