{% extends "index/_base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block stylesheet %}
<!--  -->
<link rel="stylesheet" href="{% static 'app_002/css/stylesheet.css' %}" />
<!--  -->
{% endblock stylesheet %}
<!--  -->
{% block navbar %} {% include "app_002/_navbar.html" %} {% endblock navbar %}
<!--  -->
{% block main %}
<h1>My List View.</h1>
<br />

<h1>Articles</h1>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<br />

<ul>
    {% for article in object_list %}
    <li>
        {{ article.date_posted|date }} - <a href="{% url 'app02:mydetailview' article.id %}">{{ article.headline }}</a>
    </li>
    {% empty %}
    <li>No articles yet.</li>
    {% endfor %}
</ul>

<br />

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock main %}
