{% extends "index/_base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block stylesheet %}
<!--  -->
<link rel="stylesheet" href="{% static 'app_002/css/stylesheet.css' %}" />
<!--  -->
{% endblock stylesheet %}
<!--  -->
{% block navbar %} {% include "app_002/_navbar.html" %} {% endblock navbar %}
<!--  -->
{% block main %}

<h1>Author</h1>

<p>{{object.name}}</p>
<br />
<a href="{% url 'app02:authorupdateview' object.pk %}"> Update </a>
<a href="{% url 'app02:authordeleteview' object.pk %}">Delete </a>

{% endblock main %}
