<ul class="nav-bar primary">
    <li><a href="{% url 'index:index' %}" class="nav-link icon">🏠</a></li>
</ul>

<ul class="nav-bar primary">
    <li><a href="{% url 'app01:index' %}" class="nav-link icon">🐓</a></li>
    <li><a href="{% url 'app02:index' %}" class="nav-link icon">🦆</a></li>
    <li><a href="{% url 'app03:index' %}" class="nav-link icon">🦤</a></li>
    <li><a href="{% url 'app04:index' %}" class="nav-link icon">🐜</a></li>
    <li><a href="{% url 'app05:index' %}" class="nav-link icon">🐞</a></li>
    <li><a href="{% url 'app06:index' %}" class="nav-link icon">🕷️</a></li>
</ul>
<ul class="nav-bar primary">
    <li><a href="{% url 'app07:index' %}" class="nav-link icon">🐴</a></li>
    <li><a href="{% url 'app08:index' %}" class="nav-link icon">🐄</a></li>
    <li><a href="{% url 'app09:index' %}" class="nav-link icon">🦬</a></li>
    <li><a href="{% url 'app10:index' %}" class="nav-link icon">🦏</a></li>
    <li><a href="{% url 'app10:index' %}" class="nav-link icon">🦍</a></li>
    <li><a href="{% url 'app10:index' %}" class="nav-link icon">🐅</a></li>
</ul>
