
{% extends "index/_base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block stylesheet %}
<!--  -->
<link rel="stylesheet" href="{% static 'app_010/css/stylesheet.css' %}" />
<!--  -->
{% endblock stylesheet %}
<!--  -->
{% block navbar %} {% include "app_010/_navbar.html" %} {% endblock navbar %}
<!--  -->
{% block main %}
<h1>Toppings</h1>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<br />
<ul>
    {% for topping in object_list %}
    <li>
        <span class="list-item"><a href="{% url 'app10:topping-read' topping.pk %}">{{ topping }}</a></span>
    </li>
    {% empty %}
    <li>Insufficient Data.</li>
    {% endfor %}
</ul>
{% endblock main %}

