{% extends "index/_base.html" %}
<!--  -->
{% block stylesheet %} {% endblock stylesheet %}
<!--  -->
{% block navbar %} {% include "app_004/_navbar.html" %} {% endblock navbar %}
<!--  -->
{% block main %}
<h1>App 4</h1>

<ul>
    <li><a href="{% url 'app04:templateview' %}">Lorem.</a></li>
    <li><a href="#">Sunt?</a></li>
    <li><a href="#">Necessitatibus!</a></li>
    <li><a href="#">Ex?</a></li>
    <li><a href="#">Assumenda.</a></li>
    <li><a href="#">Cum!</a></li>
    <li><a href="#">Tempora.</a></li>
    <li><a href="#">Odit.</a></li>
    <li><a href="#">A?</a></li>
    <li><a href="#">Officia?</a></li>
</ul>

{% endblock main %}
